.card {
    perspective: 1000px;
    cursor: pointer;
    width: 325px; 
    height: 500px; 
    margin-bottom: 60px;
    border-radius: 10px;
    --card-border-color: inherit; /* Define CSS variable for border color */
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 4px solid var(--card-border-color); /* Use CSS variable for border color */
    border-radius: 10px;
}

.flipped {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.cardFront {
    background-color: #fff;
    color: black;
}

.cardBack {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    font-size: .9rem; /* Adjust font size for back content */
}

.backgroundImageContainer {
    position: relative;
    width: 100%;
    height: 53%; /* Adjust height of background image on card */
    min-height: 53%; /* Ensure minimum height for background image */
    overflow: hidden;
    border-bottom: 4px solid var(--card-border-color); /* Use CSS variable for border color */
}

.productImageContainer {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 63%; /* Set width relative to the background image container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the product image does not exceed the background image height */
}

.frontContent {
    padding: 5px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Font size of all text below product name (front) */
.descriptionLabel,
.descriptionText, .infoRow {
    font-size: 0.7rem;
}

.descriptionLabel,
.descriptionText {
    text-align: left;
    width: 100%;
}

.descriptionLabel{
    padding-top:2px;
}

.pairingList,
.tasteList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center align the list items */
}

.pairingList li,
.tasteList li {
    margin-bottom: 1px; /* Add space between list items */
}

.infoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 2px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    position: relative;
}

.infoColumn strong {
    position: relative;
    margin-bottom: 8px; /* Space between the section title and the underline */
}

.infoColumn strong::after {
    content: '';
    position: absolute;
    bottom: -4px; 
    left: 50%; /* Center the underline */
    transform: translateX(-50%); /* Center the underline */
    width: 150%; /* Adjust the width of the underline */
    height: 2px; /* Adjust the height of the underline */
    background-color: var(--card-border-color); /* Use the current text color */
}

.additionalContent {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
}

.button {
    padding: 8px 16px;
    background-color: #d3d3d3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #a9a9a9;
    color: white;
}

.supplierInfo {
    margin-top: auto;
    padding: 16px;
    width: 100%;
    text-align: center;
}
